
.category-wrapper {
    padding: 12px 12px 12px 30px;

    .category-description-container {
        border-radius: 3px;
        padding: 0 12px;
        margin: 35px auto 26px;
    }

    .category-heading {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: left !important;
        text-transform: uppercase !important;
        font-size: 23.2px;
        color: #323c47;
        margin-bottom: 6px;
        font-weight: 700;
        font-style: normal;
        line-height: normal;
        letter-spacing: -.24px;
    }

    .category-description {
        font-size: 12px;
        color: #555f72;
        line-height: 1.4;
    }
}