@import url("../../../_common.scss");

.ui-card {
    position: relative;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 18px #8d979e33;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.ui-card .ui-card-image {
    overflow: hidden;
    position: relative;
    padding-top: 73%;
}

.ui-card .ui-card-image>img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}

.product-image {
    display: block;
    margin: 0 !important;
    max-width: 100%;
    opacity: 1;
    transition: all .5s;
    min-height: 175px;
}

img {
    border-style: none;
}

.ui-card .ui-card-content {
    padding: 16px;
    flex-grow: 1;
}

.ui-card .ui-card-actions {
    justify-content: flex-end;
}

.ui-card .ui-card-footer {
    margin-top: auto;
    padding: 0 8px 16px;
}

.ui-card .ui-card-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ui-card .ui-card-actions>* {
    margin: 0 8px;
}

.product-card-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.prices-wrapper {
    display: flex;
    align-items: center;
}

.price {
    color: #323c47;
    line-height: 25px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
}

.product-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.product-description {
    margin-top: 5px;
    white-space: normal;
    color: var(--light-grey-text-color);
    font-size: 12px;
    line-height: 1.6;
}

.product-short-desc {
    display: flex;
    width: 100%;
    align-items: center;
}

.veg, .non-veg {
    width: 13px;
    height: 13px;
    background-size: 100% auto;
    background-position: center;
}

.non-veg {
    background-image: url("/assets/non-veg.28ee0e2bc8884865.png");
}

.product-name {
    margin: 5px 0;
    font-size: 15px;
    text-align: left;
}