<div class="ui-card">
    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
            src="https://assets.box8.co.in/default-picture-shape/web/product/6216">
    </div>
    <div class="ui-card-content">
        <div class="product-label">
            <div class="product-short-desc">
                <div class="non-veg"></div>
                <h3 class="product-name" style="margin-left: 6px;"> Home Style Egg Curry Meal</h3>
            </div>
            <div class="prices-wrapper pull-right">
                <div class="price"> ₹&nbsp;258 </div>
            </div>
        </div>
    </div>
</div>