@import url("../../../_common.scss");

.btn.counter-btn:disabled {
    color: #555;
}

.btn.counter-btn:disabled {
    padding: 0 10px;
}

.btn.counter-btn {
    border: 1px solid #ccc;
    border-radius: 4px;

    .counter {
        display: flex;
        justify-content: space-around;

        .counter-decrement {
            cursor: pointer;
            color: #b3b3b3;
            position: relative;
            min-width: 20px;
        }

        .counter-increment {
            cursor: pointer;
            min-width: 20px;
        }
    }
}

.btn.counter-btn .counter-btn-label {
    padding: 0 5px;
}

.btn.counter-btn .btn-text {
    width: 100%;
    display: inline-block;
}