<div class="menu">
    <h1 class="menu-category">
        Breakfast
    </h1>
    <div class="menu-items">
        <div class="menu-item">
            <span class="menu-title">Poha</span>
            <span>50/-</span>
        </div>
        <div class="menu-item">
            <h3>Card title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas eligendi itaque odio aliquid excepturi vel
                corrupti deserunt veniam fuga perspiciatis! Nihil obcaecati quos similique consequatur dolore. Natus,
                corrupti.</p>
        </div>
        <div class="menu-item">
            <h3>Card title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur corporis porro mollitia praesentium
                quis minus.</p>
        </div>
    </div>
</div>