.vfv-logo {
  width: 96px;
}

.online-order-btn img {
  width: 32px;
  border-radius: 5px;
}

/* write a media query to resize logo based on mobile display */
@media (max-width: 768px) {
  .vfv-logo {
    width: 48px;
  }
}

