@import url("../_common.scss");

.example-spacer {
    flex: 1 1 auto;
}

.menu-container {
    display: flex;
}

@media (min-width: 1366px) {
    .menu-container {
        width: 95%;
    }
}

.menu-sidebar-wrapper h1 {
    font-size: 24px;
    margin: 24px;
    color: #090707;
}