<div class="category-product-wrapper">
    <div>
        <div class="rectangle-layout-container">
            <app-menu-card />
        </div>
    </div>
    <!-- <div>
        <div class="rectangle-layout-container">
            <ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/default-picture-shape/web/product/751"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Dilli Rajma Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Authentic Dilli style Rajma + Dal makhni/Chole/Rajma +
                            Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;238 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 167
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/default-picture-shape/web/product/756"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Amritsari Chole Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Amritsari chole + Dal Makhni/Chole/Rajma + Paratha/Rice +
                            Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;238 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 167
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/default-picture-shape/web/product/761"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Dal Makhni Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Creamy Dal Makhni cooked overnight + Dal makhni
                            /Chole/Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;248 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 174
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/default-picture-shape/web/product/3942"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Banarasi Dum Aloo Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Authentic Banarasi dum aloo cooked in a masala curry + Dal
                            Makhni/Chole/Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;258 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 181
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/default-picture-shape/web/product/3943"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Malai Kofta Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Malai koftas simmered in a rich, creamy cashew-onion curry
                            + Dal Makhni/Chole/Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;268 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 188
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Subz Kadhai Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Mix of seasonal veggies &amp; paneer in masala curry + Dal
                            Makhni/Chole/Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;268 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 188
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Sabz Handi Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Fresh veggies cooked in flavourful gravy + Dal
                            Makhni/Chole/Dilli Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;268 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 188
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Mushroom Masala Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Exotic mushrooms tossed in desi masala gravy + Dal
                            Makhni/Chole/Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Paneer Makhni Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Rich Punjabi Makhni Curry with melt-in-the-mouth paneer +
                            Dal Makhni/Chole/Rajma+ Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Paneer Tikka Masala Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Rich creamy curry with melt-in-the-mouth paneer + Dal
                            Makhni/Chole/Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Kadhai Paneer Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Fresh paneer simmered in a spicy curry + Dal
                            Makhni/Chole/Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Paneer Lababdar Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Melt-in-mouth paneer cooked in a creamy, tangy gravy + Dal
                            Makhni/Chole/Dilli Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Mughlai Paneer Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Creamy paneer cooked in a masala-packed curry + Dal
                            Makhni/Chole/Dilli Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Tawa Paneer Meal [Dry]</h3>
                            </div>
                        </div>
                        <div class="product-description">Succulent paneer, onions &amp; capsicum infused with desi
                            masalas + Dal Makhni/Chole/Rajma + Paratha + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="non-veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Butter Chicken Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Seriously delicious Butter Chicken + Dal Makhni/Chole/Dilli
                            Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="non-veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Chicken Tikka Masala Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Grilled chicken tikka cooked in a flavoursome gravy + Dal
                            Makhni/Chole/Dilli Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="non-veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Kadhai Chicken Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Tender boneless chicken slow cooked in a curry of freshly
                            ground spices + Dal Makhni/Chole/Dilli Rajma + Paratha/Rice + Salad + Chutney + Dessert.
                        </div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="non-veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Chicken Lababdar Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Succulent pieces of chicken in onion &amp; tomato gravy +
                            Dal Makhni/Chole/Dilli Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="non-veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Mughlai Chicken Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Tender chicken cubes in a zesty onion-loaded curry + Dal
                            Makhni/Chole/Dilli Rajma + Paratha/Rice + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="non-veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Tawa Chicken Meal [Dry]</h3>
                            </div>
                        </div>
                        <div class="product-description">Tender chicken, onions &amp; capsicum in a delicious mix of
                            Indian masalas + Dal Makhni/Chole/Rajma + Paratha + Salad + Chutney + Dessert.</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;298 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 209
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div>
    <div>
        <div class="rectangle-layout-container"><ui-card>
                <div class="ui-card">
                    <div class="ui-card-image"><img appdeferimageload="" class="product-image"
                            src="https://assets.box8.co.in/missing/box8.png"></div>
                    <div class="ui-card-content">
                        <div class="product-label">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <div class="non-veg"></div>
                                <h3 class="product-name" style="margin-left: 6px;"> Dhaba-Style Mutton Meal</h3>
                            </div>
                        </div>
                        <div class="product-description">Melt-in-mouth mutton in a thick spiced gravy slowcooked
                            dhaba-style to enrich flavors. We bet you'll go Oh-My-GOSHT!</div>
                    </div>
                    <div class="ui-card-footer ui-card-actions">
                        <div class="product-card-footer">
                            <div class="prices-wrapper">
                                <div class="price"> ₹&nbsp;378 </div>
                            </div>
                            <div class="pull-right"><ui-counter-button class="primary">
                                    <div><button class="btn counter-btn" disabled=""><span class="hidden"><span
                                                    class="btn-text"> Add </span>
                                                <div class="counter hidden"><span class="counter-decrement">-</span>
                                                    0 <span class="counter-increment">+</span></div>
                                            </span><span class="counter-btn-label"> Coming Soon </span></button>
                                    </div>
                                </ui-counter-button></div>
                        </div>
                        <div class="product-pass-band pass-bg">
                            <div class="product-pass-band-sections"><app-pass-price _nghost-box8app-c201=""><b
                                        _ngcontent-box8app-c201="" class="product-pass-band-price"> ₹ 265
                                    </b></app-pass-price> Exclusively for <img alt="" width="35"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass_logo.png">
                                Users <img width="15"
                                    src="https://des5nqelydebj.cloudfront.net/20230512170312/assets/images/pass-info.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </ui-card></div>
    </div> -->
</div>