@supports (grid-area: auto) {
    .category-product-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        display: grid;
        grid-gap: 30px;
    }
}

.category-product-wrapper {
    padding: 0;
}

.rectangle-layout-container {
    height: 100%;
}